html,
body,
#ip-map {
  margin: 5;
  padding: 10;
  width: 99%;
  height: 85%;
}

table {
		border-collapse: collapse;
		width: 100%;
}
  th{
	 padding: 15px;
	 background-color: #cccccc;
}

  td {
	 padding: 6px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
